<div class ="container-fluid">
  <div class="main">
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled">
            <% @users.each do |user| %>
              <% if user.profile %>
                <li>
                  <div class="well row <%= cycle('silver-bg','')%>">
                    <div class = "col-sm-4 text_center">
                      <% if user.profile.avatar %>
                        <%= link_to user do %>
                          <%= image_tag user.profile.avatar.url, class: 'user-index-avatar' %>
                        <%end%>
                      <% end %>
                    </div>
                    <div class="index_text">
                      <%= link_to user do %>
                      <h2 class="index_name_link"><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                      <%end%>
                      <p class="text-center"><%= user.profile.city%> <%=user.profile.state%>, <%=user.profile.zip%></p>
                      
                      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
                                  
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
    </div>
  </div>
</div>