<div class="container-fluid">
  <div class ="main">
    <div class ="well well_show">  
      <div class = "row">
        <div class=col-md-2>
            <%= image_tag @user.profile.avatar.url, class: 'avatar_show_img'%>
        </div>
          <div class=col-md-8>
          
               <h1 class = "text-center"> <%= @user.profile.first_name %> <%= @user.profile.last_name %> </h1><br>
                <p class = "profile.text text-center"><b>Location:</b>  <%= @user.profile.city %>, <%= @user.profile.state %>  <%= @user.profile.zip %></p><br>
                 <p class = "profile.text text-center"><b>Email:</b> <%= @user.profile.contact_email %></p>
          </div>
        </div>
    </div>
     
          <div class="profile_show_text">
            <div class="well">
               <b>About Me: </b> <%= @user.profile.description %>
                 <h2>Friends</h2>
                    <ul>
                      <% for friendship in @user.friendships %>
                        <li>
                          <%=h friendship.friend.friend_ids %>
                          (<%= link_to "remove", friendship, :method => :delete %>)
                        </li>
                      <% end %>
                    </ul>
                    
                    <p><%= link_to "Find Friends", users_path %></p>
                    
                    <h2>Friended by Users</h2>
                    <ul>
                      <% for user in @user.inverse_friends %>
                        <li><%=h user.username %></li>
                      <% end %>
                    </ul>
               
            </div>
          </div>
          
                  
  </div>
</div>