<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <div class= "container">
    <body>
        <div id=mySidenav class = "sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Hide Menu &times;</a>
            <br>
            <br>
              <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
              <form>
                <label for="UserName">MBGDB ID</label>
                <input type = "text" placeholder="Enter MBGDB User Name"><br>
                <label for='password'>Password</label>
                <input type = "password" placeholder="Enter Password"><br><br>
                <input type = "submit" id="formsubmit" name="formsubmit">
                <button type="button">Join For Free!</button>
              </form> 
                <br><br>
              <ul>
                  <li><%= link_to "Home", root_path %></li>
                  <li><a href=page3.asp>Your Collection</a></li>
                  <li><a href=page4.asp>Discover New Games</a></li>
                  <li><a href=page5.asp>The Gamer Blog</a></li>
                  <li><%= link_to "Contact Us", contact_us_path %></li>
                  <li><%= link_to "About", about_path %></li>
              </ul>
          </div>  
    <div id = main>
               <header>
                 <span id="menu_label" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu & Login</span> 
                 
                 <h1>My Board Game Database</h1>
               </header>
                       
              <script>
                function openNav() {
                  document.getElementById("mySidenav").style.width = "300px";
                  document.getElementById("main").style.marginLeft = "300px";
                  document.getElementById("menu_label").style.visibility = "hidden";
                }
                
                function closeNav() {
                  document.getElementById("mySidenav").style.width = "0";
                  document.getElementById("main").style.marginLeft= "0";
                  document.getElementById("menu_label").style.visibility = "visible";
                }
                </script>
          <div class="container">    
            <% flash.each do |type, msg| %>
            <%= content_tag :div, msg, class: "alert-#{type} text-center" %>
            <% end %>    
          </div>
          <%= yield %>
    </div id = main>
   </body>
  </div>
</html>
