<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class = "sidenav"></i>
      <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
        <form>
          <label for="UserName">MBGDB ID</label>
          <input type = "text" placeholder="Enter MBGDB User Name"><br>
          <label for='password'>Password</label>
          <input type = "password" placeholder="Enter Password"><br><br>
          <input type = "submit" id="formsubmit" name="formsubmit">
          <button type="button">Join For Free!</button>
      </form> 
      <br><br>
      <ul>
                    <li><%= link_to "Home", "/" %></li>
          <li><a href=page3.asp>Your Collection</a></li>
          <li><a href=page4.asp>Discover New Games</a></li>
          <li><a href=page5.asp>The Gamer Blog</a></li>
          <li><%= link_to "About", "/about" %></li>

      </ul>
    </div class ="sidenav">
    <%= yield %>
  </body>
</html>
